:root {
    --border-radius: 10px;
    --border: 1px solid #0D0D0D;
    --font-family-base: 'Roboto', sans-serif;
    --color-button: #0D0D0D;
    --color-hover: #353535;
    --color-active: #505050;
    --color-button-2:#FFFFFF;
    --color-hover-2: #F5F5F5;
    --color-active-2: #E7E7E7;
    --color-gray: rgb(25, 29, 49);
    --color-light: white;
    --color-primary: #0D0D0D;
    --color-red:rgb(255, 82, 82);

    --container-width: 1240px;
    --container-padding-x: 20px;

    --section-padding-y: 70px;

    --input-height: 59px;
    --button-height: 68px;

    --transition-duration: 0.2s;
}