.navbar {
    position: sticky;
    font-weight: 600;
    top: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
    // border: var(--border);
    border-radius: var(--border-radius);
    border: var(--border);
    background-color: var(--color-hover-2);

    &__link {
        color: var(--color-primary);

        @include hover {
            color: var(--color-active);
        }
    }
}