.toolptips {
    padding: 10px;
    cursor: default;
    text-decoration: underline;
    transition: color 150ms ease-in-out;

    @include hover {
        color: var(--color-active);
        text-decoration: none;
    }
}

[data-tooltip] {
    position: relative;

    &:before {
        content: attr(data-tooltip);
        position: absolute;
        left: calc(100% + 14px);
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        max-width: 217px;
        background-color: var(--color-primary);
        border-radius: var(--border-radius);
        color: var(--color-light);
        padding: 20px;
        font-size: 14px;
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    &::after {
        @include abs-center;
        @include square(20px);

        content: '';
        background-color: var(--color-gray);
        left: calc(100% + 14px);
        rotate: 45deg;
        clip-path: polygon(0 0, 0 100%, 100% 100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    @include hover {
            &::before,
            &::after {
                visibility: visible;
                left: calc(100% + 17px);
                opacity: 1;
            }
    }
}
